body {
  margin: 0;
  padding: 0;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #3ab7e4, #fa0d84);
  color: #6b0157;
}

.container {
  text-align: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #3498db, #ff6b6b);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.input-container {
  margin: 20px 0;
}

input {
  padding: 12px;
  font-size: 18px;
  border: 2px solid #3498db;
  border-radius: 5px;
}

select, button {
  padding: 14px;
  font-size: 18px;
  border: 2px solid #3498db;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background: linear-gradient(to right, #e74c3c, #f39c12);
  border: none;
  color: rgb(15, 1, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 30px;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(to right, #c0392b, #e67e22);
}

.result-container {
  margin-top: 30px;
}

.result-container p {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #4277d9, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
  margin: 10px 0;
}

